body{
  background-color: #333399;
}
#form{
  margin-top: 15%;
  padding: 0% 5% 0% 5%;
}
.btn{
  background-color: #1a1a1a;
  color: white;
}
.msg{
  color: red;
}
#form1{
  margin: 2% 15% 0% 15%;
}
#category{
  font-family: arial black;
  font-size: 18px;
  color: black;
}
.input{
  width:100%;
  padding-left: 3%;
  box-sizing: border-box;
  border: 1px solid #202060;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #b3b3e6;

}
.button{
  border-radius: 10px;
  padding: 5px;
  width:100px;
  align:center;
  background-color: #202060;
  border: 0px;
  color: #fff;
}
#arrow{
  background-color:#333333;
  border: 0px;
}
.tab{
  width: 50%;
  text-align: center;
}
.text{
  color: #fff;
  text-decoration-style: solid;
}
.table{
  color:#fff;
  text-align: center;
}
