body{
  background-color: #333399;
}

#form{
  margin-top: 15%;
  padding: 0% 5% 0% 5%;
}
.input{
  width:100%;
  box-sizing: border-box;
  border: 1px solid #202060;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #b3b3e6;
  padding-left: 3%;
  align:center;
}
.button{
  border-radius: 10px;
  padding: 5px;
  width:100px;
  align:center;
  background-color: #202060;
  border: 0px;
  color: #fff;
}
.tab{
  width: 50%;
  text-align: center;
}
